link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel="stylesheet", href="/fonts/font-awesome/css/font-awesome.min.css")
link(rel='stylesheet', href='/stylesheets/style.css')

script(src="/javascripts/jquery.min.js")  
script(src="/javascripts/bootstrap.min.js")
 