extend layout

block content
  form(method='post')
    .form-group
      label(for='name') 标题
      input.form-control(type='text', name='title', value='#{article.title}')
    .form-group
      label(for='name') 文章
      textarea.form-control(type='text', name='content',rows='8') #{article.content}
    hr
    input(type='hidden',value='#{article._id}',name='id')
    input.btn.btn-default(type='submit', value='保存修改')
