extends layout

block content
  form.form-horizontal(role='form', method='POST')
    .form-group
      label.col-sm-2.control-label(for='firstname') 用户名
      .col-sm-10
        input.form-control(type='text', name='username', placeholder='输入用户名')
    .form-group
      label.col-sm-2.control-label(for='lastname') 密码
      .col-sm-10
        input.form-control(type='password', name='password', placeholder='输入密码')
    .form-group
      label.col-sm-2.control-label(for='lasttname') 重复密码
      .col-sm-10
        input.form-control(type='password', name='password-repeat', placeholder='再次输入密码')
    .form-group
      label.col-sm-2.control-label(for='lastname') 邮箱
      .col-sm-10
        input.form-control(type='text', name='email', placeholder='输入邮箱')
    .form-group
      .col-sm-offset-2.col-sm-10
        input.btn.btn-default(type='submit', value='完成注册')
    